@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Bienvenido</h1>
    <p style="color:white">Lee mas: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://imgs.search.brave.com/C6hcf2-F0b1pRB-7JoRQTeBwYKuc_eV-nxTq-TikNOI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmL2Ex/LzIyL2ZmYTEyMmYz/NmJmZmIzOTI2NjFj/MGRlOTQ4NDc1NjM1/LmpwZw" alt="meme" />
</div>
